<form action="">
    <div class="mb-3">
        <label for="inspectionTypeId" class="form-label">Inspection Type</label>
        <input type="text" class="form-control" name="inspectionTypeId" [(ngModel)]="inspectionTypeId"
        *ngIf="inspection.id!=0" disabled>
        <select class="form-select" name="inspectionTypeId" id="inspectionTypeId" [(ngModel)]="inspectionTypeId"
        *ngIf="inspection.id==0">
            <option *ngFor="let type of inspectionTypesList$|async" [value]="type.id">{{type.inspectionName}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" name="status" id="status" [(ngModel)]="status">
            <option *ngFor="let status of statusList$|async" [value]="status.statusOption">{{status.statusOption}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="comments" class="form-label">Comments</label>
        <input type="text" class="form-control" [(ngModel)]="comments" name="comments">
    </div>
    <button (click)="addInspection()" *ngIf="inspection.id==0" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        Add
    </button>
    <button (click)="updateInspection()" *ngIf="inspection.id!=0" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        Update
    </button>
</form>
